.frame {
  display: table;
  border: 1px solid black;
  width: 200px;
  height: 200px;
}

.button {
  border: none;
  background: white;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 48%;
  margin: 1%;
  line-height: 98px;
  transition: background-color ease-out 0.1s;
  cursor: pointer;
  border-radius: 3%;
}

.button-enabled:hover {
  background-color: rgba(0, 0, 0, 0.02);
  transition: background-color ease-out 0.1s;
}

.button-disabled {
  background-color: rgba(0, 0, 0, 0.07);
  transition: background-color ease-out 0.2s;
}

.button-enabled:active {
  background-color: rgba(0, 0, 0, 0.1);
  transition: background-color ease-out 0.05s;
}
